# Backend en local (npm run start:dev)
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=user
DB_PASSWORD=cambia_esto
DB_DATABASE=ventanilla_unica
JWT_SECRET=una_cadena_larga_y_aleatoria
N8N_WEBHOOK_URL=http://localhost:5678/webhook/confirmar-cita-ventanilla-unica

# Docker Compose
MYSQL_ROOT_PASSWORD=cambia_esto
MYSQL_DATABASE=ventanilla_unica
MYSQL_USER=user
MYSQL_PASSWORD=cambia_esto